// desktop footer start

.desktop-footer-container{
    background-color: $verydarkblackblue;
    overflow: hidden;
    color: $white;

    border-radius: 0px 150px 0px 0px;
        .logo{
            margin-top: 80px;
            margin-right: 25%;
            margin-left: 100px;
        }
    .jcc{
        display: flex;
        justify-content: center;
        margin-top: -7%;
    }

    .footer-product{
        margin-top: 80px;
        margin-left: 5%;
        cursor: pointer;
        user-select: none;
        h2{
            margin-bottom: 50px;
        }
        li{
            margin-top: 15px;
        }
    }
    .footer-company{
        margin-top: 80px;
        margin-left: 5%;
        cursor: pointer;
        user-select: none;
        h2{
            margin-bottom: 50px;
        }
        li{
            margin-top: 15px;
        }
    }
    .footer-connect{
        margin-top: 80px;
        margin-left: 5%;
        cursor: pointer;
        user-select: none;
        h2{
            margin-bottom: 50px;
        }
        li{
            margin-top: 15px;
        }
    }
}
// desktop footer end


// mobile footer start
.footer{
    width: 750px;
    height: auto;
    overflow: hidden;
    background-color: $verydarkblackblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $white;
    font-size: 35px;
    img{
        margin-top: 75px;
        cursor: pointer;
    }
    .mobile-footer-product{
        cursor: pointer;
        margin-top: 120px;
        li{
            margin-top: 15px;
        }
    }

    .mobile-footer-company{
        cursor: pointer;
        margin-top: 80px;
        li{
            margin-top: 15px;
        }
    }

    .mobile-footer-connect{
        cursor: pointer;
        margin-top: 80px;
        li{
            margin-top: 15px;
        }
    }
}


// mobile footer end