@import "_mixins";

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

.flex {
    display: flex;

    &-jc-sb {
    justify-content: space-between;
}

    &-jc-c {
    justify-content: center;
}

    &-ai-c{
    align-items: center;
}
    &-dir-row{
        flex-direction: row;
    }
    &-dir-col{
        flex-direction: column;
    }

}




a, a:visited, a:hover {
    text-decoration: none;
}
li{
    list-style-type: none;
}

.hide-for-mobile {
    @include breakpoint-down()
}

.hide-for-desktop {
    @include breakpoint-up()
}