// mobile not active

.mobile-nav{
    background-image: url("/images/bg-pattern-intro.svg"), linear-gradient($verylightred, $lightred);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 32%;
    background-position-x: 39%;
    overflow: hidden;
    width: 750px;
    height: 1200px;
    border-radius: 0px 0px 0px 170px;
    .mobile-ul{
        li{
            .mobile-hamburger{
                    margin-top: 125px;
                    margin-right: 48px;
                    width: 50px;
                    height: 53px;
                    cursor: pointer;
                }
            a{
                .mobile-logo{
                    margin-top: 125px;
                    width: 165px;
                    height: 64px;
                    }
                
            }
            
        }
    }

    h1{
        margin-top: 250px;
        font-size: 75px;
        text-align: center;
        color: $white;
    }
    h3{
        text-align: center;
        font-size: 40px;
        margin-top: 70px;
        color: $white;
        font-weight: lighter;
    }
    .mobile-button{
        margin-top: 110px;
        text-align: center;
        .start-btn{
            width: 277px;
            height: 98px;
            color: $lightredcta;
            padding: 35px 40px;
            font-size: 30px;
            font-weight: bold;
            border-radius: 40px 40px 40px 40px;
            border: none;
            cursor: pointer;
        }
        .learn-btn{
            width: 277px;
            height: 98px;
            padding: 35px 40px;
            font-size: 30px;
            font-weight: bold;
            border-radius: 40px 40px 40px 40px;
            border: none;
            background-color: transparent;
            border: 2px solid white;
            color: $white;
            cursor: pointer;
            margin-left: 30px;

        }
    }
}


// mobile is active

.mobile-nav-isactive{
    display: none;
    background-image: url("/images/bg-pattern-intro.svg"), linear-gradient($verylightred, $lightred);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 32%;
    background-position-x: 39%;
    overflow: hidden;
    width: 750px;
    height: 1200px;
    border-radius: 0px 0px 0px 170px;
    .mobile-logo-isactive{
        margin-top: 125px;
        width: 165px;
        height: 64px;
    }
    .mobile-close{
    margin-top: 125px;
    margin-right: 48px;
    width: 50px;
    height: 53px;
    }
    .dropdowns{
        background-color: $white;
        width: 650px;
        height: 1336px;
        margin-left: 50px;
        margin-top: 90px;
        ul{
            
            li{
                text-align: center;
                margin-top: 80px;
                font-size: 35px;
                font-weight: bold;
                
                a{
                    font-weight: lighter;
                    color: $verydarkgrayishblue;
                    
                    img{
                      width: 20px;
                      height: 13px;
                      margin-bottom: 5px;
                    }
                }
            }

            .dropdown-content-product{
                display: none;
                flex-direction: column;
                width: 550px;
                height: 300px;
                margin-top: 55px;
                background-color: $grayishblue;
                justify-content: center;
                z-index: 1;
                
                a{
                    align-items: center;
                    padding: 20px 10px 20px;
                }
            }

            .dropdown-content-company{
                
                flex-direction: column;
                width: 550px;
                height: 300px;
                margin-top: 55px;
                background-color: $grayishblue;
                justify-content: center;
                z-index: 1;
                display: none;
                
                a{
                    align-items: center;
                    padding: 20px 10px 20px;
                }
            }

            .dropdown-content-connect{
                display: none;
                flex-direction: column;
                width: 550px;
                height: 300px;
                margin-top: 55px;
                background-color: $grayishblue;
                justify-content: center;
                z-index: 1;
                
                
                a{
                    align-items: center;
                    padding: 20px 10px 20px;
                }
            }
        }
       
    }

}


