html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-dir-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-dir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.font-bold {
  font-weight: bolder !important;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

a, a:visited, a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media (max-width: 750px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 751px) {
  .hide-for-desktop {
    display: none;
  }
}

.mobile-nav {
  background-image: url("/images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background-image: url("/images/bg-pattern-intro.svg"), linear-gradient(#ff8f70, #ff3d54);
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 32%;
  background-position-x: 39%;
  overflow: hidden;
  width: 750px;
  height: 1200px;
  border-radius: 0px 0px 0px 170px;
}

.mobile-nav .mobile-ul li .mobile-hamburger {
  margin-top: 125px;
  margin-right: 48px;
  width: 50px;
  height: 53px;
  cursor: pointer;
}

.mobile-nav .mobile-ul li a .mobile-logo {
  margin-top: 125px;
  width: 165px;
  height: 64px;
}

.mobile-nav h1 {
  margin-top: 250px;
  font-size: 75px;
  text-align: center;
  color: white;
}

.mobile-nav h3 {
  text-align: center;
  font-size: 40px;
  margin-top: 70px;
  color: white;
  font-weight: lighter;
}

.mobile-nav .mobile-button {
  margin-top: 110px;
  text-align: center;
}

.mobile-nav .mobile-button .start-btn {
  width: 277px;
  height: 98px;
  color: #ff525d;
  padding: 35px 40px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 40px 40px 40px 40px;
  border: none;
  cursor: pointer;
}

.mobile-nav .mobile-button .learn-btn {
  width: 277px;
  height: 98px;
  padding: 35px 40px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 40px 40px 40px 40px;
  border: none;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  margin-left: 30px;
}

.mobile-nav-isactive {
  display: none;
  background-image: url("/images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background-image: url("/images/bg-pattern-intro.svg"), linear-gradient(#ff8f70, #ff3d54);
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 32%;
  background-position-x: 39%;
  overflow: hidden;
  width: 750px;
  height: 1200px;
  border-radius: 0px 0px 0px 170px;
}

.mobile-nav-isactive .mobile-logo-isactive {
  margin-top: 125px;
  width: 165px;
  height: 64px;
}

.mobile-nav-isactive .mobile-close {
  margin-top: 125px;
  margin-right: 48px;
  width: 50px;
  height: 53px;
}

.mobile-nav-isactive .dropdowns {
  background-color: white;
  width: 650px;
  height: 1336px;
  margin-left: 50px;
  margin-top: 90px;
}

.mobile-nav-isactive .dropdowns ul li {
  text-align: center;
  margin-top: 80px;
  font-size: 35px;
  font-weight: bold;
}

.mobile-nav-isactive .dropdowns ul li a {
  font-weight: lighter;
  color: #4b5862;
}

.mobile-nav-isactive .dropdowns ul li a img {
  width: 20px;
  height: 13px;
  margin-bottom: 5px;
}

.mobile-nav-isactive .dropdowns ul .dropdown-content-product {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
  height: 300px;
  margin-top: 55px;
  background-color: #c8c8cb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.mobile-nav-isactive .dropdowns ul .dropdown-content-product a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px 20px;
}

.mobile-nav-isactive .dropdowns ul .dropdown-content-company {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
  height: 300px;
  margin-top: 55px;
  background-color: #c8c8cb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  display: none;
}

.mobile-nav-isactive .dropdowns ul .dropdown-content-company a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px 20px;
}

.mobile-nav-isactive .dropdowns ul .dropdown-content-connect {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
  height: 300px;
  margin-top: 55px;
  background-color: #c8c8cb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.mobile-nav-isactive .dropdowns ul .dropdown-content-connect a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px 20px;
}
/*# sourceMappingURL=style.css.map */